.mainNav{
  background: $salmon;
  margin-bottom: 2rem;
  border-top: 8px solid darken($darksalmon, 10%);
  .navbar-brand{
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }
  .nav-link{
    color: white;
    border-radius: 4px;
    transition: all 200ms ease-in-out;
    font-size: 1.4rem;
    &:hover{
      background: darken($darksalmon, 10%);
    }
  }
  .nav-item{
    margin-left: 1rem;
    .profile{
      display: flex;
      padding: 0 10px;
      img{
        max-width: 50px;
        max-height: 50px;
        border-radius: 100px;
        margin-right: 10px;
      }
      &__info{
        p{
          margin: 0;
          color: white;
          font-size: 1.2rem;
          font-weight: bold;
        }
        button{
          background: transparent;
          color: white;
          border: none;
          outline: none;
          padding: 0;
        }
      }
    }
  }
}