.question-card{
  margin-bottom: 4rem;
  border-radius: 4px;
  perspective: 1000px;
  .controls{
    position: absolute;
    right: 3rem;
    bottom: -10px;
    a{
      background: #ffa384;
      color: white;
      border: 1px solid #ffa384;
      transition: all 200ms ease-in-out;
      font-weight: bold;
      font-size: 1.2rem;
      text-transform: uppercase;
      padding: 1rem 4rem;
      box-shadow: 0px -5px 21px -19px black;
      transform: scale(1.05);
      &:hover{
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px black;
      }
    }
  }
  &__author-column{
    background: $aqua;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    top: 0;
  }
  &__author{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      max-width: 200px;
      border-radius: 100%;
      margin-bottom: 1rem;
    }
    p{
      font-size: 1.2rem;
      background: white;
      padding: 10px 1rem;
      color: #467680;
      font-weight: bold;
      border-radius: 4px;
      position: relative;
      top: -10px;
      &:after{
        content: '';
        position: absolute;
        bottom: -35px;
        left: 50%;
        width: 10px;
        height: 10px;
        margin-left: -20px;
        border-style: solid;
        border-color: white transparent transparent transparent;
        border-width: 20px 20px 20px 20px;
      }
    }
  }
  &__question-column{
    position: relative;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 8px;
    top: -10px;
    left: -20px;
    box-shadow: -6px 6px 37px -29px black;
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: -20px;
      width: 10px;
      height: 10px;
      margin-top: -10px;
      border-style: solid;
      border-color: transparent white transparent transparent;
      border-width: 20px 20px 20px 0;
    }
  }
  &__question{
    padding: 3rem 1rem 4rem 1rem;
    text-align: center;
    width: 100%;
    h3{
      text-align: center;
      margin-bottom: 2rem;
      font-weight: bold;
      color: $aqua;
    }
    .answerSeperator{
      margin: 0;
      padding: 1rem 0;
      font-size: 1.8rem;
      font-weight: 400;
      color: $aqua;
      font-weight: bold;
    }
    .option{
      background: white;
      display: flex;
      flex-direction: column;
      position: relative;
      p{
        margin: 0;
        font-size: 1.6rem;
        color: darken($aqua, 30%);
        padding: 10px;
      }
      &__vote{
        flex-direction: row;
        justify-content: space-between;
        background: #ececec;
        border-radius: 6px;
        padding-left: 1rem;
        overflow: hidden;
        .btn{
          border-radius: 0px;
        }
      }
      .total-votes{
        font-size: 1rem;
        padding-left: 1rem;
      }
      &__result{
        background: white;
        padding: 2rem 1rem;
        border-radius: 4px;
        overflow: hidden;
        border: 4px solid #ececec;
        p{
          font-weight: bold;
          padding: 0;
          margin-bottom: 1rem;
        }
        &.selected{
          border: 4px solid $freesia;
          padding-top: 2.5rem;
           .vote-flag{
              position: absolute;
              top: 0;
              right: 0;
              font-size: 1rem;
              background: $freesia;
              color: darken($freesia, 40%);
              padding: 5px 10px;
              border-radius: 0 0 0 10px;
              display: inline-block;
            }
        }
      }

      .votebar{
        width: 100%;
        position: relative;
        background: darken(#ececec, 10%);
        height: 40px;
        border-radius: 50px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 0 10px;
        font-weight: bold;
        box-shadow: inset 0 0px 21px -12px black;
        p{
          font-size: 1.2rem;
          margin-bottom: 0;
          font-weight: bold;
        }
        span{
          position: relative;
          z-index: 1;
        }
        .progressBar{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background: #5fc5da;
          z-index: 0;
          text-align: right;
          color: white;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 10px;
        }
      }
    }
  }
}